/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definimos las variables de color del :root del .css para usarlas en Tailwind */
:root {
    --primary-color: #00d4ff;
    --primary-dark: #0099cc;
    --dark-bg: #0a0a0a;
    --dark-card: #1a1a1a;
    --dark-border: #2a2a2a;
    --text-primary: #ffffff;
    --text-secondary: #a0a0a0;
}

body {
  /* Aplicamos los colores de fondo y texto por defecto */
  background-color: var(--dark-bg);
  color: var(--text-primary);
}